html, body {
  height: 100%;
  width: 100%;
  font-family: Arial;
  margin: 0;
  padding: 0;
}
* {
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.audio{
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
}
.canvas{
  cursor: url("../assets/cursor.png"),auto;
  position: absolute;
  left: 0;
  height: 0;
  height: 100%;
  width: 100%;
}
.audioStart{
  position: absolute;
  top:0;
  left: 0;
}
.fps{
  color:green;
  font-family: 'numerals';
  position: absolute;
  bottom: 30px;
  left:30px;
  user-select: none;
}
@font-face {
  font-family: 'numerals';
  src: url('../assets/Font/digital-7.ttf');
}
@font-face {
  font-family: 'pixelated';
  src: url('../assets/Font/prstart.ttf')
}
