html, body {
  height: 100%;
  width: 100%;
  font-family: Arial;
  margin: 0;
  padding: 0;
  cursor: url("../assets/cursor.png"),auto;
}
* {
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.audio{
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
}
.musicSelect{
  display: none;
  width:100%;
  height:100%;
  /* display:flex; */
  position:absolute;
  top:0;
  left:0;
  background-color: black;
}
.soundImg{
  filter: invert(1);
  width:30px;
  height:30px;
}
.choiseCont{
  width: 100%;
  justify-content: space-around;
  display: flex;
  margin:auto;
  flex-direction: row;
}
.mainSelect{
  width: 50%;
  height:80%;
  margin:auto;
}
.centerHor{
  margin-top:auto;
  margin-bottom: auto;
  font-size: 3vh;
}
.title{
  text-align:center;
  font-size: 6vh;
  width:100%;
}
.subtitle{
  text-align:center;
  font-size: 2vh;
  width:100%;
}
.muteUnmute{
  position: absolute;
  width:30px;
  height: 30px;
  right:30px;
  top:30px;
  display: none;
  filter: invert(1);
}
.mainSelect{
  display: flex;
  flex-direction: column;
}
.white{
  color:white;
}
.choise{
  width:max-content;
  color:#cccccc;
  display: flex;
  flex-direction: column;
  width:max-content;
  text-align: center;
  /* margin:auto; */
  user-select: none;
  size:25px;
}
.choise:hover{
  color:white;
  size:30px;
}

.canvas{
  position: absolute;
  left: 0;
  height: 0;
  height: 100%;
  width: 100%;
}
.audioStart{
  position: absolute;
  top:0;
  left: 0;
}
.fps{
  color:green;
  font-family: 'numerals';
  position: absolute;
  bottom: 30px;
  left:30px;
  user-select: none;
}
@font-face {
  font-family: 'numerals';
  src: url('../assets/Font/digital-7.ttf');
}
@font-face {
  font-family: 'pixelated';
  src: url('../assets/Font/prstart.ttf')
}
